//! **************************************************************************
// Written by: Map J.33 on Tue Jun 02 17:37:38 2009
//! **************************************************************************

SCHEMATIC START;
COMP "MCLK" LOCATE = SITE "B8" LEVEL 1;
COMP "Btns<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "Btns<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "Btns<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "Btns<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "ALARM" LOCATE = SITE "R4" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "UserCode<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "UserCode<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "Cs<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "UserCode<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "Cs<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "UserCode<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "Cs<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "Cs<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "Cs<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "SYS_ARMED" LOCATE = SITE "J14" LEVEL 1;
COMP "Cs<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "Cs<6>" LOCATE = SITE "L18" LEVEL 1;
NET "MCLK_BUFGP/IBUFG" BEL "MCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
