//! **************************************************************************
// Written by: Map J.33 on Wed May 27 17:29:32 2009
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "CACG<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "CACG<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "CACG<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "CACG<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "CACG<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "CACG<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "CACG<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "SW" LOCATE = SITE "G18" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
SCHEMATIC END;
